.container-fluid {
    margin-top: 20px;
    margin-left: 40px;
}

.hclass {
    margin-bottom: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    
}

#card {
    width: 400px;
    height: 250px;
    border: 1px solid;
    padding: 10px;
    margin-top: 200px;

}

.background {
    background: #eee;
    padding: 20px;
    margin-bottom: 10px;
}